.chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1.5px solid whitesmoke;
  cursor: pointer;
}

.chat:hover {
  opacity: 0.8;
}

.chat_avatar {
  height: 30px !important;
  width: 30px !important;
}
.chat__readIcon {
  color: red;
}

.chat__info {
  padding-left: 5px;
  flex: 1;
}

.chat__info > h4 {
  font-size: 12px;
  font-weight: 500;
}
.chat__info > p {
  font-size: 10px;
}
